/*FORM*/

form {
    padding:32px;
    border:3px solid black;
    border-radius:15px;
    display: flex;
    flex-wrap: wrap;
    background-color:#f1f1f1;
    }

fieldset {
    margin:15px;
    padding: 15px;
    border:3px dotted black;
    background-color:white;
    align-content: center;
    border-radius:15px;
    }
fieldset:hover {
    border:3px solid black;
    }
legend {
    font-size: 20px;
    font-weight: 800;
    }

input {
    margin-bottom:15px;
    }
label {
    text-transform: uppercase;
    }
input[type="submit"] {
    background-color:green;
    color:white;
    font-size:18px;
    padding:5px 15px;
    border-radius:15px;
    border:none;
    border-bottom: 3px solid black;
    text-transform:uppercase;
    font-weight:800;
    border-radius:15px;
    }
input[type="submit"]:hover {
    background-color:#f2f2f2;
    color:green;
    border-bottom:3px solid white;
    }
input[type="reset"] {
    background-color:red;
    color:white;
    font-size:18px;
    padding:5px 15px;
    border-radius:15px;
    border:none;
    border-bottom: 3px solid black;
    text-transform:uppercase;
    font-weight:800;
    border-radius:15px;
    }
input[type="reset"]:hover {
    background-color:#f2f2f2;
    color:red;
    border-bottom:3px solid white;
    }

/*FORM RESPONSIVE*/

 @media (max-width:800px) {
        fieldset {
            width: 100%;
            }
        }

/*TESTO SCROLL*/

.marquee{
    overflow: hidden;
    margin:30px 0px;
    border-radius: 15px;
    }
.marquee-contenuto{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 12s linear infinite;
    font-size:10rem;
    font-weight: 800;
    text-shadow: 5px 5px 20px yellow;
    }
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
